<p> Edit post</p>

<%= form_with(model: @post, local: true) do |form| %>

	<p>
		<%= form.label :text %>
		<%= form.text_area :text %>
	</p>

	<p>
		<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Back', posts_path %>