<div class="row">
  <div class="column left" style="background-color:#ffe1e1;">
    <h2>menu</h2>
    <p>Some options</p>

    <a href=""> Notification <i class="fa fa-bell" aria-hidden="true"></i> </a>

  </div>
  <div class="column middle" style="background-color:#fff;">
    
    <%= render 'posts/form' %>

    <div class="mid" >
      <p class="mid two">  
        <% @posts.each do |post| %>
        <strong> <%= @post.user %> </strong>
          <strong> <%= post.text %><br> </strong> 
          <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>

          <% if current_user == post.user %>
            <%= link_to 'Show', post_path(post) %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post_path(post),method: :delete,data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to 'Show', post_path(post) %>
          <% end %>
      </p>
      <% end %>

      </div>
  </div>






  <div class="column right" style="background-color:#ffe1e1;">


    <% if user_signed_in? %>

    <p> User_id: <%= current_user.id %> </p>  

    <a href="/users/edit"> <i class="fa fa-user-circle" aria-hidden="true"></i> <%= current_user.user_name %> </a>

    <p><%= @posts.count %> <%= (@posts.count) == 1 ? 'Post' : 'Posts'%></p>

    <a href="#"><%=  link_to 'logout',destroy_user_session_path,method: :delete %></a><br>

    
    <% else %>
      
    <a href="/users/sign_in"> <i class="fa fa-sign-in" aria-hidden="true"></i> <%=  link_to 'login', user_session_path %></a><br>
      
    <a href="#"><%= link_to 'signup', new_user_registration_path %></a><br>



    <% end %>
  </div>
</div>