<div>
  <% if @current_user == @user %>   

  <h5><%= "Welcome #{current_user.user_name} !" %></h5>
  
  <% elsif current_user.followees.include?(@user) %>   
  
    <h5><%= button_to "UnFollow #{@user.user_name}",     
         unfollow_user_path, method: "POST" %></h5>
    
    <% else %>   

    <h5><%= button_to "Follow #{@user.user_name}", follow_user_path, 
         method: "POST"  %></h5>
  <% end %>

</div>

<div class="column left" style="background-color:#ffefef73;">
  <h2>menu</h2>
  <p>Some options</p>
  <a href=""> Notification <i class="fa fa-bell" aria-hidden="true"></i>  <%#= render  user_notification_path %> </a>

  <a href=""> Suggestions <i class="fa fa-bell" aria-hidden="true"></i>  <%#= link_to 'Suggestions',  %> </a>


</div>






<div class="column middle" style="background-color:#fff;">
  <div class="text-editor-col">
    <%= render 'posts/form' %>
  </div>

  <div class="post" >
    <% @posts.each do |post| %>

    <div class="post-mid" >
      <a href="#"> <i class="fa fa-user-circle" aria-hidden="true"></i>

      <% p = post.user_id %> 
      <%= link_to post.user.user_name, user_path(p) %>  </a>
      <strong> <%= post.text %><br> </strong> 
      <%= post.cached_votes_total %> <%= (post.cached_votes_total) == 1 ? 'Like' : 'Likes'%>

      <% if current_user == post.user %>

      <%= link_to 'Show', post_path(post) %>

      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post_path(post),method: :delete,data: { confirm: 'Are you sure?' } %>
      <%= social_share_button_tag(@post.text) %>
        
      <% else %>

      <%= link_to 'Show', post_path(post) %>

      <%= social_share_button_tag("") %>

      <% end %>
    </div>
    <% end %>

  </div>
</div>







<div class="column right" style="background-color:#ffefef73;">
  
  <% if user_signed_in? %>
  
  <p> User_id: <%= current_user.id %> </p>

  <a href=""> <i class="fa fa-user-circle" aria-hidden="true"></i>  
    <% q = current_user.id %> 
    <%= link_to current_user.user_name, user_path(q) %>
  </a><br>


  <a href="#"><%=  link_to 'logout',destroy_user_session_path,method: :delete %></a><br>

  <table class="a" width="200">
    <thead>
      <tr style="color: red" >
        <th scope="col"  > <%= current_user.posts.count %> </th>
        <th scope="col"  > <%= current_user.followers.count %> </th>
        <th scope="col"  > <%= current_user.followees.count %> </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row2" >
        <td><%= (@posts.count) == 1 ? 'Post' : 'Posts'%></td>
        <td> Followers </td>
        <td> Following </td>
      </tr>
    </tbody>
  </table>

    
  <% else %>
      
  <a href="/users/sign_in"> <i class="fa fa-sign-in" aria-hidden="true"></i> <%=  link_to 'login', user_session_path %></a><br>
      
  <a href="#"><%= link_to 'signup', new_user_registration_path %></a><br>

  <% end %>

  

</div>
