<div>
  <strong>Post:</strong>
  <%= @post.text %>
</div>



<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>

<% end %>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>

  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>


<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p> 
    <%= form.hidden_field :post_id, :value => @post.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>

  </p>

  <p>
  	<%= form.submit %>
  </p>

  <% end %>

  <%= link_to 'Back', posts_path %>