<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">   
            <a href="#"> <%#= image_tag 'logo.png' %> </a>
            <a href="#" class="navbar-brand">GOJI</a>
            
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- <div class="nav-search" >
                    <form class="form-inline ml-auto">
                        <input type="text" class="form-control mr-sm-2" placeholder="Search for people, groups or events">
                        <button type="submit" class="btn btn-outline-light">Search</button>
                    </form>
                </div> -->

                <div class="navbar-nav">

                    <a href="/posts" class="nav-item nav-link active"> <i class="fa fa-home" aria-hidden="true"></i> Home</a>

                </div>
                
            </div> 

            </div>
        </nav>
    </div>

    

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>